QWidget{background: black;} QPushButton{border: none; outline: none;} QLabel {font-family: Arial; font-size: 30pt; font-weight: bold; color: red;} QLabel#movieTitle {color : white;} QScrollBar::handle:horizontal {background: red; image: url(/content/menu/images/icons/tiefighter.png);} QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal, QScrollBar::sub-line:horizontal, QScrollBar::add-line:horizontal{width: 0px;}
